<a href="https://colab.research.google.com/github/leandrorodor/PGR-IESB-P9039-CDNA-20203/blob/master/lab05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Carregar bibiotecas a serem usadas no projeto

In [ ]:
!pip install biokit

In [5]:
import pandas as pd
import plotly.graph_objects as go
import numpy as np
from biokit.viz import corrplot
import matplotlib.pyplot as plt

In [ ]:
# Importar dados a partir de arquivo excel

In [9]:
enem = pd.read_excel (r'/content/sample_data/ENEM_2017_2019_RESUMO_MUNICIPIO.xlsx')
print (enem)

       NU_ANO  Municipio  UF  ... NU_NOTA_LC_CV  NU_NOTA_MT_CV  NU_NOTA_REDACAO_CV
0        2017     110001  RO  ...     37.359091      37.376574           20.481247
1        2017     110002  RO  ...     35.759084      39.035510           22.000760
2        2017     110003  RO  ...     18.272008      34.908982           24.239253
3        2017     110004  RO  ...     35.931553      39.477729           21.833524
4        2017     110005  RO  ...     32.637265      39.784791           22.741036
...       ...        ...  ..  ...           ...            ...                 ...
16705    2019     522200  GO  ...     14.650267      20.333891           27.385585
16706    2019     522205  GO  ...     12.105126      20.519673           26.184023
16707    2019     522220  GO  ...     12.806650      18.053077           25.440972
16708    2019     522230  GO  ...     12.602998      15.005036           24.297281
16709    2019     530010  DF  ...     11.474205      21.839170           25.479352

[16710 rows x 72 columns]

In [10]:
print("O dataset possui",enem.shape[0], "observações e", enem.shape[1], "atributos")

O dataset possui 16710 observações e 72 atributos

In [11]:
enem.head()

   NU_ANO  Municipio  UF  ... NU_NOTA_LC_CV  NU_NOTA_MT_CV  NU_NOTA_REDACAO_CV
0    2017     110001  RO  ...     37.359091      37.376574           20.481247
1    2017     110002  RO  ...     35.759084      39.035510           22.000760
2    2017     110003  RO  ...     18.272008      34.908982           24.239253
3    2017     110004  RO  ...     35.931553      39.477729           21.833524
4    2017     110005  RO  ...     32.637265      39.784791           22.741036

[5 rows x 72 columns]

In [ ]:
# Descatar colunas que não serão utilizadas no projeto