<a href="https://colab.research.google.com/github/leandrorodor/PGR-IESB-P9039-CDNA-20203/blob/master/lab05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bibliotecas do projeto

In [1]:
# Instalar pacotes a serem usadas no projeto

In [ ]:
!pip install biokit

In [ ]:
# Carregar bibiotecas a serem usadas no projeto

In [5]:
import pandas as pd
import plotly.graph_objects as go
import numpy as np
from biokit.viz import corrplot
import matplotlib.pyplot as plt

In [ ]:
# Importar dados a partir de arquivo excel

In [30]:
enem = pd.read_excel (r'/content/sample_data/ENEM_2017_2019_RESUMO_MUNICIPIO.xlsx')
print (enem)

       NU_ANO  Municipio  UF  ... NU_NOTA_LC_CV  NU_NOTA_MT_CV  NU_NOTA_REDACAO_CV
0        2017     110001  RO  ...     37.359091      37.376574           20.481247
1        2017     110002  RO  ...     35.759084      39.035510           22.000760
2        2017     110003  RO  ...     18.272008      34.908982           24.239253
3        2017     110004  RO  ...     35.931553      39.477729           21.833524
4        2017     110005  RO  ...     32.637265      39.784791           22.741036
...       ...        ...  ..  ...           ...            ...                 ...
16705    2019     522200  GO  ...     14.650267      20.333891           27.385585
16706    2019     522205  GO  ...     12.105126      20.519673           26.184023
16707    2019     522220  GO  ...     12.806650      18.053077           25.440972
16708    2019     522230  GO  ...     12.602998      15.005036           24.297281
16709    2019     530010  DF  ...     11.474205      21.839170           25.479352

[16710 rows x 72 columns]

In [31]:
print("O dataset possui",enem.shape[0], "observações e", enem.shape[1], "atributos")

O dataset possui 16710 observações e 72 atributos

In [17]:
enem.head(10)

   NU_ANO  Municipio  UF  ... NU_NOTA_LC_CV  NU_NOTA_MT_CV  NU_NOTA_REDACAO_CV
0    2017     110001  RO  ...     37.359091      37.376574           20.481247
1    2017     110002  RO  ...     35.759084      39.035510           22.000760
2    2017     110003  RO  ...     18.272008      34.908982           24.239253
3    2017     110004  RO  ...     35.931553      39.477729           21.833524
4    2017     110005  RO  ...     32.637265      39.784791           22.741036
5    2017     110006  RO  ...     37.144083      33.282326           18.677105
6    2017     110007  RO  ...     28.700230      42.781701           21.232165
7    2017     110008  RO  ...     36.098266      42.703583           19.701982
8    2017     110009  RO  ...     31.635109      38.678378           21.909175
9    2017     110010  RO  ...     35.262037      36.848638           21.810677

[10 rows x 72 columns]

In [18]:
# Renomear etiqueta de coluna "NOME MUNICIPIO" para "Nome_Municipio"

In [32]:
enem_alt_01 = enem.rename(columns={"NOME MUNICIPIO":"Nome_Municipio"}).copy()

In [ ]:
# Listar nomes de colunas do dataframe

In [33]:
enem_alt_01.columns

Index(['NU_ANO', 'Municipio', 'UF', 'Nome_Municipio', 'LATITUDE', 'LONGITUDE',
       '_FREQ_', 'NU_NOTA_CN_Mean', 'NU_NOTA_CH_Mean', 'NU_NOTA_LC_Mean',
       'NU_NOTA_MT_Mean', 'NU_NOTA_REDACAO_Mean', 'NU_NOTA_CN_StdDev',
       'NU_NOTA_CH_StdDev', 'NU_NOTA_LC_StdDev', 'NU_NOTA_MT_StdDev',
       'NU_NOTA_REDACAO_StdDev', 'NU_NOTA_CN_Min', 'NU_NOTA_CH_Min',
       'NU_NOTA_LC_Min', 'NU_NOTA_MT_Min', 'NU_NOTA_REDACAO_Min',
       'NU_NOTA_CN_Max', 'NU_NOTA_CH_Max', 'NU_NOTA_LC_Max', 'NU_NOTA_MT_Max',
       'NU_NOTA_REDACAO_Max', 'NU_NOTA_CN_N', 'NU_NOTA_CH_N', 'NU_NOTA_LC_N',
       'NU_NOTA_MT_N', 'NU_NOTA_REDACAO_N', 'NU_NOTA_CN_P10', 'NU_NOTA_CH_P10',
       'NU_NOTA_LC_P10', 'NU_NOTA_MT_P10', 'NU_NOTA_REDACAO_P10',
       'NU_NOTA_CN_Q1', 'NU_NOTA_CH_Q1', 'NU_NOTA_LC_Q1', 'NU_NOTA_MT_Q1',
       'NU_NOTA_REDACAO_Q1', 'NU_NOTA_CN_Median', 'NU_NOTA_CH_Median',
       'NU_NOTA_LC_Median', 'NU_NOTA_MT_Median', 'NU_NOTA_REDACAO_Median',
       'NU_NOTA_CN_Q3', 'NU_NOTA_CH_Q3', 'NU_NOTA_LC_Q3', 'NU_NOTA_MT_Q3',
       'NU_NOTA_REDACAO_Q3', 'NU_NOTA_CN_P90', 'NU_NOTA_CH_P90',
       'NU_NOTA_LC_P90', 'NU_NOTA_MT_P90', 'NU_NOTA_REDACAO_P90',
       'NU_NOTA_CN_P95', 'NU_NOTA_CH_P95', 'NU_NOTA_LC_P95', 'NU_NOTA_MT_P95',
       'NU_NOTA_REDACAO_P95', 'NU_NOTA_CN_P99', 'NU_NOTA_CH_P99',
       'NU_NOTA_LC_P99', 'NU_NOTA_MT_P99', 'NU_NOTA_REDACAO_P99',
       'NU_NOTA_CN_CV', 'NU_NOTA_CH_CV', 'NU_NOTA_LC_CV', 'NU_NOTA_MT_CV',
       'NU_NOTA_REDACAO_CV'],
      dtype='object')

In [ ]:
# Descatar colunas que não serão utilizadas no projeto

In [34]:
enem_alt_02 = enem_alt_01.drop(['NU_NOTA_CN_StdDev',
       'NU_NOTA_CH_StdDev', 'NU_NOTA_LC_StdDev', 'NU_NOTA_MT_StdDev',
       'NU_NOTA_REDACAO_StdDev', 'NU_NOTA_CN_Min', 'NU_NOTA_CH_Min',
       'NU_NOTA_LC_Min', 'NU_NOTA_MT_Min', 'NU_NOTA_REDACAO_Min',
       'NU_NOTA_CN_Max', 'NU_NOTA_CH_Max', 'NU_NOTA_LC_Max', 'NU_NOTA_MT_Max',
       'NU_NOTA_REDACAO_Max', 'NU_NOTA_CN_N', 'NU_NOTA_CH_N', 'NU_NOTA_LC_N',
       'NU_NOTA_MT_N', 'NU_NOTA_REDACAO_N', 'NU_NOTA_CN_P10', 'NU_NOTA_CH_P10',
       'NU_NOTA_LC_P10', 'NU_NOTA_MT_P10', 'NU_NOTA_REDACAO_P10',
       'NU_NOTA_CN_Q1', 'NU_NOTA_CH_Q1', 'NU_NOTA_LC_Q1', 'NU_NOTA_MT_Q1',
       'NU_NOTA_REDACAO_Q1', 'NU_NOTA_CN_Median', 'NU_NOTA_CH_Median',
       'NU_NOTA_LC_Median', 'NU_NOTA_MT_Median', 'NU_NOTA_REDACAO_Median',
       'NU_NOTA_CN_Q3', 'NU_NOTA_CH_Q3', 'NU_NOTA_LC_Q3', 'NU_NOTA_MT_Q3',
       'NU_NOTA_REDACAO_Q3', 'NU_NOTA_CN_P90', 'NU_NOTA_CH_P90',
       'NU_NOTA_LC_P90', 'NU_NOTA_MT_P90', 'NU_NOTA_REDACAO_P90',
       'NU_NOTA_CN_P95', 'NU_NOTA_CH_P95', 'NU_NOTA_LC_P95', 'NU_NOTA_MT_P95',
       'NU_NOTA_REDACAO_P95', 'NU_NOTA_CN_P99', 'NU_NOTA_CH_P99',
       'NU_NOTA_LC_P99', 'NU_NOTA_MT_P99', 'NU_NOTA_REDACAO_P99',
       'NU_NOTA_CN_CV', 'NU_NOTA_CH_CV', 'NU_NOTA_LC_CV', 'NU_NOTA_MT_CV',
       'NU_NOTA_REDACAO_CV'], axis=1)

In [35]:
enem_alt_02

       NU_ANO  Municipio  ... NU_NOTA_MT_Mean NU_NOTA_REDACAO_Mean
0        2017     110001  ...      454.407320           521.237113
1        2017     110002  ...      444.114989           527.007237
2        2017     110003  ...      450.697213           473.442623
3        2017     110004  ...      452.107862           534.122608
4        2017     110005  ...      446.151190           542.222222
...       ...        ...  ...             ...                  ...
16705    2019     522200  ...      532.111842           585.394737
16706    2019     522205  ...      503.886842           518.947368
16707    2019     522220  ...      471.042424           545.454545
16708    2019     522230  ...      470.914634           496.585366
16709    2019     530010  ...      535.046348           605.722301

[16710 rows x 12 columns]

# Análise dos dados

In [ ]:
# Selecionar colunas a serem analisadas

In [46]:
enem_alt_02[['NU_NOTA_CN_Mean', 'NU_NOTA_CH_Mean', 'NU_NOTA_LC_Mean','NU_NOTA_MT_Mean', 'NU_NOTA_REDACAO_Mean']]

       NU_NOTA_CN_Mean  NU_NOTA_CH_Mean  ...  NU_NOTA_MT_Mean  NU_NOTA_REDACAO_Mean
0           458.507113       447.153381  ...       454.407320            521.237113
1           448.773244       462.653691  ...       444.114989            527.007237
2           485.948852       410.474098  ...       450.697213            473.442623
3           455.896526       463.947541  ...       452.107862            534.122608
4           449.655397       455.210357  ...       446.151190            542.222222
...                ...              ...  ...              ...                   ...
16705       469.423684       496.394737  ...       532.111842            585.394737
16706       447.094737       462.842105  ...       503.886842            518.947368
16707       433.433333       447.378788  ...       471.042424            545.454545
16708       446.921951       459.314634  ...       470.914634            496.585366
16709       491.813794       527.098513  ...       535.046348            605.722301

[16710 rows x 5 columns]

In [ ]:
# Analisar dataframe

In [47]:
enem_alt_02[['NU_NOTA_CN_Mean', 'NU_NOTA_CH_Mean', 'NU_NOTA_LC_Mean','NU_NOTA_MT_Mean', 'NU_NOTA_REDACAO_Mean']].describe()

       NU_NOTA_CN_Mean  NU_NOTA_CH_Mean  ...  NU_NOTA_MT_Mean  NU_NOTA_REDACAO_Mean
count     16710.000000     16710.000000  ...     16710.000000          16710.000000
mean        465.959022       503.526274  ...       493.655836            538.327931
std          25.413652        47.393337  ...        41.132720             49.091104
min         280.425714       211.135714  ...       276.285455            361.052632
25%         448.613445       467.226784  ...       466.131481            506.053871
50%         465.201705       499.389606  ...       495.005441            540.000000
75%         483.123869       540.053644  ...       522.264720            571.094629
max         586.900000       629.600000  ...       702.112500            746.000000

[8 rows x 5 columns]